<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>How to Data Pull </title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/topcoat/0.8.0/css/topcoat-desktop-light.min.css"/>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
        <link href="http://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/styles.css"/>

    </head>
    <body>

        <div class="content">
        <h1>Pulling JSON data from an open data API</h1>
       <p>The following example will pull and display data from the monitor API <br></br>Just choose an option and click the button! </p>
            Choose :
            <select>
            <option>Message</option>
                </select> <em>(return all message)</em> 
             <button class="topcoat-button--cta">Let's do it!</button>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="static/pull.js"></script>
    </body>
</html>
