<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Message List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"/>
</head>

<body>

<h1>Message list</h1>
<option th:each="foo : ${greeting}"
        th:value="${greeting.ParentMessageID}" th:text="${greeting.userName}">My option
</option>
<table>
    <tr>
        <th>NAME</th>
        <th>PRICE</th>
        <th>IN STOCK</th>
    </tr>

    <!--<tr th:each="prod : ${prods}">-->
        <!--<td th:text="${prod.name}">Onions</td>-->
        <!--<td th:text="${prod.price}">2.41</td>-->
        <!--<h1>Result</h1>-->
    <p th:text="'ParentMessageID: ' + ${greeting.ParentMessageID}"/>
        <p th:text="'userName: ' + ${greeting.userName}" />
        <p th:text="'userName2: ' + ${greeting.userName2}" />
        <p id="time"></p>

        <script>
            document.getElementById("time").innerHTML = Date();
        </script>
        <!--<p th:text="'createdAt: ' + ${greeting.createdAt}" />-->
        <!--<p th:datetime-local=" createAt" />-->
        <p th:text="'location(city): ' + ${greeting.location}" />
        <p th:text="'city’s latitude: ' + ${greeting.latitude}" />
        <p th:text="'city’s longitude: ' + ${greeting.longitude}" />
        <p th:text="'current temperature: ' + ${greeting.temperature}" />
        <p th:text="' MessageContent: ' + ${greeting.MessageContent}" />
        <!--<td th:text="${prod.inStock}? #{true} : #{false}">yes</td>-->
    </tr>
</table>

<p>
    <a href="../messageList.html" th:href="@{/}">Return to home</a>
</p>

</body>

</html>